<%= form_for @student do |f| %>
<% if @student.errors.any? %>
<div id='error explanation' %>
	<h2><%=pluralize(@student.errors.count,'error') %>Prohibited student from being saved: </h2>
	<ul>
		<% @student.errors.full_messages.each do |message| %>
		<li><%= message %></li>
         <% end %>
	</ul>
    </div>
   <% end %>
<p>
	<%= f.label :name %>
	<%= f.text_field :name %>
</p>
<p>
	<%= f.label :address %>
	<%= f.text_field :address %>
</p>
<p>
	<%= f.label :place_of_birth %>
	<%= f.text_field :place_of_birth %>
</p>
<p>
	<%= f.label :phone_number %>
	<%= f.text_field :phone_number %>
</p>	
<p>
	<%= f.label :age %>
	<%= f.text_field :age %>
</p>
<p>
	<%= f.submit :Submit %>
</p>
<% end %>